.button_container {
  width: 100%;
  text-align: center;
}

.button_container button {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #386641;
  color: #fff;
}

/* Responsive design for mobile */
@media screen and (max-width: 600px) {
  .button_container button {
    font-size: 1.25rem;
  }
}
