.navbar_container {
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 1rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user_image {
  height: 40px;
  width: 40px;
}

.user_image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
